.App {
  text-align: center;
}

.App-header {
  background-color: #e0e2e6;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

h1 {
  margin-bottom: 20px;
}

.controls {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 20px;
  padding: 10px;
  background-color: #f8f9fa;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.controls button {
  margin: 5px;
  padding: 10px 20px;
  background-color: #61dafb;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.controls button:hover {
  margin: 5px;
  padding: 10px 20px;
  background-color: #7b8a9a;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.1s;
  font-weight: bold;
}

.grid {
  display: grid;
  grid-template-columns: repeat(30, 20px);
  gap: 1px;
}

.cell {
  width: 20px;
  height: 20px;
  border: 1px solid #333;
  background-color: white;
}

.cell.active {
  background-color: black;
}

.navbar a {
  color: #f2f2f2;
  padding: 10px 15px;
  text-decoration: none;
  font-size: 16px;
  border-radius: 5px;
  background-color: #6c757d;
  transition: background-color 0.3s, color 0.3s;
  margin: 0 10px;
  margin-top: 20px;
}

.navbar a:hover {
  background-color: #5a6268;
  color: #fff;
}
